@model CRBC.Model.PageContent
<partial name="_Header" action="@Model" />

<p>
    Contact: Dr. Waldrip
</p>
<p>
    To contact Dr. Waldrip, please email him at: <a href="mailto:pastor@calvaryroadbaptist.church">pastor@calvaryroadbaptist.church</a>.
</p>
<p>
    Thank you for your interest.
</p>