@model CRBC.Model.PageContent
<partial name="_Header" action="@Model" />
<div class="card border-secondary mb-3">
    <picture class="img-fluid"><img alt="Pic" src="https://dl0.creation.com/fpimages/14996@340w.jpg" style="max-width: 18rem;" /></picture>
    <div class="card-body container">
        <div class="">
            <h6>
                @DateTime.Now.ToString("MM/dd/yyyy")
            </h6>
        </div>
        <h4 class="">
            Prepare ye the way—the aliens are coming! Part two
        </h4>
        <p class="card-text">
            Are we on the verge of a humanity-shaping announcement?
        </p>
        <button type="button" class="btn-primary" href="https://creation.com/aliens-are-coming-part-2">Read</button>
    </div>
</div>
<div class="card border-secondary mb-3">
    <picture class="img-fluid"><img alt="Pic" src="https://dl0.creation.com/fpimages/14996@340w.jpg" style="max-width: 18rem;" /></picture>
    <div class="card-body container">
        <div class="">
            <h6>
                @DateTime.Now.ToString("MM/dd/yyyy")
            </h6>
        </div>
        <h4 class="">
            Prepare ye the way—the aliens are coming! Part two
        </h4>
        <p class="card-text">
            Are we on the verge of a humanity-shaping announcement?
        </p>
        <button type="button" class="btn-primary" href="https://creation.com/aliens-are-coming-part-2">Read</button>
    </div>
</div>
<div class="card border-secondary mb-3">
    <picture class="img-fluid"><img alt="Pic" src="https://dl0.creation.com/fpimages/14996@340w.jpg" style="max-width: 18rem;" /></picture>
    <div class="card-body container">
        <div class="">
            <h6>
                @DateTime.Now.ToString("MM/dd/yyyy")
            </h6>
        </div>
        <h4 class="">
            Prepare ye the way—the aliens are coming! Part two
        </h4>
        <p class="card-text">
            Are we on the verge of a humanity-shaping announcement?
        </p>
        <button type="button" class="btn-primary" href="https://creation.com/aliens-are-coming-part-2">Read</button>
    </div>
</div>