<footer id="sticky-footer " class="bg-dark footer">
    <div class=" text-center" style="color:lightgray ">
        <small>Copyright &copy; 1999 - 2021. Calvary Road Baptist Church. All rights reserved.</small>
    </div>
    <div class=" text-center" style="color:whitesmoke">
        <small>@Html.ActionLink(">>Tems and Conditions<<", "Index", "TermsAndConditions", null,new { @style = "color:whitesmoke" })</small>
        |
        <small>@Html.ActionLink(">>Administrator<<", "LogInPortal", "Admin", null, new { @style = "color:whitesmoke" })</small>
    </div>
</footer>