<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" >
            <div class="form-login">
                <h4>Please Sign in</h4>
                <hr />
                <input type="text" id="userName" class="form-control input-sm chat-input" />
                <br/>
                <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                <br/>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-4"></div>
    </div>
</div>

@*<div class="row">
    <div class="col-12 align-self-center">

    </div>
</div>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Please Sign in</div>
    <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>*@