<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="MyCarousel" class="carousel slide carousel-fade carouselDiv" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#MyCarousel" data-slide-to="1"></li>
                    <li data-target="#MyCarousel" data-slide-to="2"></li>
                    <li data-target="#MyCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="8000">
                        <div class="overlay-image " style="background-image:  url(/Content/images/1.jpg)">
                            <div class="container carouselContainer">
                                <h1>Calvary Road Baptist church</h1>
                                <p>A Friendly San Gabriel Church</p>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="overlay-image " style="background-image: url(/Content/images/2.jpg)"></div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="overlay-image " style="background-image: url(/Content/images/3.jpg)"></div>
                    </div>
                    <div class="carousel-item" data-interval="5000">
                        <div class="overlay-image " style="background-image: url(/Content/images/4.jpg)"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#MyCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#MyCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-5 col-sm-12">
            <div class="jumbotron">
                <h4>Schedule of Services: </h4>
                <p class="lead">Sunday Morning <time>10:45 AM</time>: Terry Cantrell.</p>
                <p class="lead">Sunday Evening <time>06:00 PM</time>: Ken Barbosa.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-12">
            @*<img class="img-fluid" src="~/Content/images/radioProgram.jpg" />*@
            <div class="card" style="width: 30rem;">
                @*<img src="~/Content/images/bibleOpening.jpg" class="card-img-top" alt="...">*@
                <img src="~/Content/images/radioProgram.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ACCORDING TO THY WORD</h5>
                    <p class="card-text small">
                        With Dr. John Waldrip.
                    </p>
                    <a href="#" class="btn btn-primary">Lisent here</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <h2>Thinking About Visiting?</h2>
            <p>
                If you do not have a Church home and you live in the Los Angeles area you can call our office for directions.
                Please remember, however, that the thrust of our Church's ministry is to bring the lost to Christ.
                We are committed to each Christian being faithful to his present Church home.
            </p>
            <p>
                <img class="img-fluid" src="~/Content/images/crbcMap.png" />
            </p>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/images/crbcAcademy.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Calvary Road Baptist Academy</h5>
                    <p class="card-text">
                        Where traditional values are taught in a safe environment
                        Kindergarten through High School.
                    </p>
                    <a href="#" class="btn btn-primary">Now Enrolling</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>
                Quote of the Week
            </h4>
            <p>
                Let us enter into the spirit of the first propagators of Christianity and take our children along with us in the labors of love.
            </p>
            <p>
                Edward Hooker (1794-1875)
            </p>
            <p>
                Click Here For Previous Quotes
            </p>
        </div>
    </div>
</div>